# Android Studio / IntelliJ
*.iml
.idea/

# Gradle
.gradle/
build/
*/build/

# Configuración local
local.properties

# Native build
.externalNativeBuild/
.cxx/

# Capturas
captures/

# Sistema operativo
.DS_Store
Thumbs.db

# Gradle JVM
/gradle/gradle-daemon-jvm.properties
